button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	gap: 8px;
	font-family: "Inter", sans-serif;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 20px;
	height: 40px;
	transition: 0.5s;
}
button.hollow-btn {
	background: #ffffff;
	border: 1px solid #d0d5dd;
	color: #344054;
}

button.hollow-btn:hover {
	background: #f9fafb;
}

button.full-btn {
	background: #7f56d9;
	border: 1px solid #7f56d9;
	color: #ffffff;
}

button.full-btn:hover {
	background: #6941c6;
}

label {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 20px;
	color: #344054;
}
input {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 14px;
	height: 44px;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-weight: 400;
	font-size: 1rem;
	line-height: 24px;
	color: #101828;
	outline: none;
}

input:hover,
input:active {
	border: 1px solid #d6bbfb;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
}

input[type="email"] {
	background: url(../assets/icons/mail.svg) no-repeat scroll 7px 7px;
	background-size: 2.75%;
	background-position: 10px center;
	padding-left: 5%;
}

.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f2f4f7;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background: #7f56d9;
}

input:focus + .slider {
	box-shadow: 0 0 1px #7f56d9;
}

input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 12px;
}

.slider.round:before {
	border-radius: 50%;
}

textarea {
	font-family: "Inter", "sans-serif";
	font-weight: 400;
	font-size: 1rem;
	line-height: 24px;
	color: #101828;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 12px 14px;
	gap: 8px;
	width: 100% !important;
	height: 128px;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	outline: none;
}

textarea:hover {
	border: 1px solid #d6bbfb;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
}

select {
	width: 25%;
	height: 44px;
	padding: 10px 14px;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-weight: 500;
	font-size: 1rem;
	line-height: 24px;
	color: #101828;
	outline: none;
}

select:hover {
	border: 1px solid #d6bbfb;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #f4ebff;
}

@media screen and (min-width: 280px) and (max-width: 480px){
	input[type="email"]{
		background-size: auto;
		padding-left: 12%;
	}
	select{
		width: 100% !important;
	}
}