* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	background: #ffffff;
	font-family: "Inter";
	font-weight: 400;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input,
textarea,
button,
select {
	font-family: "Inter";
}

button,
select,
input[type="datetime-local"],
span.format-icons img {
	cursor: pointer;
}

/* Mobile Phones */
@media screen and (min-width: 280px) and (max-width: 480px) {
	body {
		width: 100vw;
		overflow-x: hidden;
	}
}
